@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="row">

    <div class="col-md-3">

        <div class="row">
            <label>Usuário</label>
            <input class="form-control" type="text" id="txtUsername" />
        </div>

        <div class="row">
            <label>Senha</label>
            <input class="form-control" type="password" id="txtPassword" />
        </div>

        <div class="row">
            <label>E-mail</label>
            <input class="form-control" type="email" id="txtEmail" />
        </div>


        <div class="row">
            <label>Celular</label>
            <input class="form-control" type="text" id="txtCelphone" />
        </div>
        <br />

        <button type="submit" class="btn btn-default" id="btnRegisterUser">Registrar Usuário</button>

    </div>

    <div class="col-md-3">

        <label>Tipo de Transação</label>
        <input class="form-control" type="text" id="txtTransactionType" />
        <br />
        <button type="submit" class="btn btn-default" id="btnRegisterTypeTransaction">Registrar Tipo de Transação</button>

    </div>

    <div class="col-md-3">

        <label>Categoria</label>
        <input class="form-control" type="text" id="txtCategory" />
        <br />
        <button type="submit" class="btn btn-default" id="btnRegisterCategory">Registrar Categoria</button>

    </div>

    <div class="col-md-3">
        <label>Sub-Categoria</label>
        <input class="form-control" type="text" id="txtSubCategory" />
        <label>Categoria</label>
        <select class="form-control" id="lstCategory"></select>
        <br />
        <button type="submit" class="btn btn-default" id="btnRegisterSubCategory">Registrar Sub-Categoria</button>
    </div>

</div>
<br />

<div class="row">
    <div class="col-md-4">
        <label>Tipo de Transação</label>
        <select class="form-control" id="lstTransactionType"></select>
        <label>Data</label>
        <input class="form-control" type="date" id="dtTransaction" />
        <label>Valor</label>
        <input class="form-control" type="number" id="vlTransaction" />
    </div>

    <div class="col-md-4">
        <label>Descrição da Transação</label>
        <input class="form-control" type="text" id="txtTransaction" />
        <label>Categoria</label>
        <input class="form-control" type="search" id="autoCompleteCategoryTransaction" list="categories" />
        <label>Sub-Categoria</label>
        <input class="form-control" type="search" id="autoCompleteSubCategoryTransaction" list="subCategoriesTransaction" />
        <datalist id="subCategoriesTransaction"></datalist>
    </div>

    <div class="col-md-4">
        <label>Usuário</label>
        <input class="form-control" type="search" id="autoCompleteUser" list="users" />
        <datalist id="users"></datalist>
        <label>Usuário Destinatário</label>
        <input class="form-control" type="search" id="autoCompleteUserDestination" list="users" />
        <label>Possui comprovante?</label>
        <div class="radio">
            <label><input type="radio" name="rdnHasReceipt" checked />Sim</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="rdnHasReceipt">Não</label>
        </div>
    </div>
    <br />
</div>
<button type="submit" class="btn btn-default" id="btnRegisterTransaction">Realizar Transação</button>

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <label>Busca de Categorias</label>
        <input class="form-control" type="search" id="autoCompleteCategory" list="categories" />
        <datalist id="categories"></datalist>
        <br />
        <button id="btnEditCategory" class="btn btn-default">Editar</button>
        <button id="btnDeleteCategory" class="btn btn-default">Deletar</button>
    </div>

    <div class="col-md-3">
        <label>Busca de Tipos de Transação</label>
        <input class="form-control" type="search" id="autoCompleteTransactionType" list="transactionstype" />
        <br />
        <button id="btnEditTransactionType" class="btn btn-default">Editar</button>
        <button id="btnDeleteTransactionType" class="btn btn-default">Deletar</button>
        <datalist id="transactionstype"></datalist>
    </div>

    <div class="col-md-3">
        <label>Busca de Sub-Categorias</label>
        <input class="form-control" type="search" id="autoCompleteSubCategory" list="subcategories" />
        <br />
        <button id="btnEditSubCategory" class="btn btn-default">Editar</button>
        <button id="btnDeleteSubCategory" class="btn btn-default">Deletar</button>
        <datalist id="subcategories"></datalist>
    </div>
</div>
<br />



@section scripts{
    <script type="text/javascript">

        var url = "http://localhost:58274/";

        $(document).ready(function () {
            fillCategory();
            fillSubCategory();
            fillUsers();
            fillTransactionsType();
            fillSubCategoriesByCategory();
        });

        function fillSubCategoriesByCategory() {

            $('#autoCompleteSubCategoryTransaction').val('');
            $('#subCategoriesTransaction').html('');

            var namCategory = $('#autoCompleteCategoryTransaction').val();


            if (namCategory === '') {
                return;
            }

            var idCategory = $("#categories option[value='" + namCategory + "']").text();


            $.ajax({
                type: "GET",
                url: url + "api/subcategory/category/" + idCategory,
                contentType: "application/json",
                success: function (data) {

                    $.each(data, function (index, item) {
                        $('#subCategoriesTransaction').append($('<option></option>').text(item.idSubCategory).val(item.dsSubCategory));
                    });

                }

            });

        }

        function fillUsers() {

            $('#autoCompleteUser').val('');
            $('#autoCompleteUserDestination').val('');
            $('#users').html('');

            $.ajax({
                type: "GET",
                url: url + "/api/user",
                contentType: "application/json",
                cache: false,
                success: function (data) {

                    $.each(data, function (index, item) {
                        $('#users').append($('<option></option>').val(item.userName));
                    });
                }
            });
        }

        function fillCategory() {

            $('#lstCategory').html('');
            $('#autoCompleteCategory').val('');
            $('#categories').html('');

            $.ajax({
                type: "GET",
                url: url + "/api/category",
                contentType: "application/json",
                cache: false,
                success: function (data) {

                    $('#lstCategory').append($('<option></option>').text('Selecione').val(0));
                    $.each(data, function (index, item) {
                        $('#lstCategory').append($('<option></option>').text(item.dsCategory).val(item.idCategory));
                        $('#categories').append($('<option></option>').text(item.idCategory).val(item.dsCategory));
                    });
                }
            });

        }

        function fillSubCategory() {

            //$('#lstCategory').html('')
            $('#autoCompleteSubCategory').val('');
            $('#subcategories').html('');

            $.ajax({
                type: "GET",
                url: url + "/api/subcategory",
                contentType: "application/json",
                cache: false,
                success: function (data) {

                    //$('#lstCategory').append($('<option></option>').text('Selecione').val(0))
                    $.each(data, function (index, item) {
                        //$('#lstCategory').append($('<option></option>').text(item.dsCategory).val(item.idCategory))
                        $('#subcategories').append($('<option></option>').text(item.idSubCategory).val(item.dsSubCategory));
                    });
                }
            });

        }


        function fillTransactionsType() {

            $('#lstTransactionType').html('');
            $('#autoCompleteTransactionType').val('');
            $('#transactionstype').html('');

            $.ajax({
                type: "GET",
                url: url + "/api/transactiontype",
                contentType: "application/json",
                cache: false,
                success: function (data) {

                    $('#lstTransactionType').append($('<option></option>').text('Selecione').val(0));
                    $.each(data, function (index, item) {
                        $('#lstTransactionType').append($('<option></option>').text(item.dsTransactionType).val(item.idTransactionType));
                        $('#transactionstype').append($('<option></option>').text(item.idTransactionType).val(item.dsTransactionType));
                    });
                }
            });

        }


        $(function () {


            $('#autoCompleteCategoryTransaction').on('change', function () {

                fillSubCategoriesByCategory();

            });

            $('#btnDeleteTransactionType').on('click', function () {

                var namTransactionType = $('#autoCompleteTransactionType').val();

                var idTransactionType = $("#transactionstype option[value='" + namTransactionType + "']").text();

                $.ajax({
                    type: "DELETE",
                    url: url + "/api/transactionType/" + idTransactionType,
                    contentType: "application/json",
                    success: function (data) {

                        //$('#txtCategory').val('')
                        alert(data);
                        fillTransactionsType();
                    }

                });

            });

            $('#btnEditTransactionType').on('click', function () {

                var namTransactionType = $('#autoCompleteTransactionType').val()

                var idTransactionType = $("#transactionstype option[value='" + namTransactionType + "']").text()

                var descricaoTransactionType = $('#txtTransactionType').val()

                var data = {

                    "DsTransactionType": descricaoTransactionType,
                    "IdTransactionType": idTransactionType
                };

                $.ajax({
                    type: "PUT",
                    url: url + "api/transactionType/" + idTransactionType,
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtTransactionType').val('');
                        alert('EDIÇÃO DE TIPO DE TRANSAÇÃO REALIZADO COM SUCESSO.');
                        fillTransactionsType();
                    }
                });

            });

            $('#btnDeleteCategory').on('click', function () {

                var namCategory = $('#autoCompleteCategory').val();

                var idCategory = $("#categories option[value='" + namCategory + "']").text();

                $.ajax({
                    type: "DELETE",
                    url: url + "/api/category/" + idCategory,
                    contentType: "application/json",
                    success: function (data) {

                        $('#txtCategory').val('');
                        alert(data);
                        fillCategory();
                    }

                });

            });

            $('#btnEditCategory').on('click', function () {

                var namCategory = $('#autoCompleteCategory').val();

                var idCategory = $("#categories option[value='" + namCategory + "']").text();

                var descricaoCategoria = $('#txtCategory').val();

                var data = {

                    "DsCategory": descricaoCategoria,
                    "IdCategory": idCategory
                };

                $.ajax({
                    type: "PUT",
                    url: url + "/api/category/" + idCategory,
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtCategory').val('');
                        alert('EDIÇÃO DE CATEGORIA REALIZADO COM SUCESSO.');
                        fillCategory();
                    }
                });

            });

            $('#btnDeleteSubCategory').on('click', function () {

                var namSubCategory = $('#autoCompleteSubCategory').val()

                var idSubCategory = $("#subcategories option[value='" + namSubCategory + "']").text()

                $.ajax({
                    type: "DELETE",
                    url: url + "/api/subcategory/" + idSubCategory,
                    contentType: "application/json",
                    success: function (data) {

                        $('#txtSubCategory').val('');
                        alert(data);
                        fillSubCategory();
                    }

                });

            });

            $('#btnEditSubCategory').on('click', function () {

                var namSubCategory = $('#autoCompleteSubCategory').val();

                var idSubCategory = $("#subcategories option[value='" + namSubCategory + "']").text();

                var descricaoSubCategoria = $('#txtSubCategory').val();

                var selectedCategory = $('#lstCategory').val();

                if (selectedCategory === 0) {
                    return;
                }

                var data = {

                    "DsSubCategory": descricaoSubCategoria,
                    "IdCategory": selectedCategory,
                    "IdSubCategory": idSubCategory
                }

                $.ajax({
                    type: "PUT",
                    url: url + "/api/subcategory/" + idSubCategory,
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtSubCategory').val('');
                        $('#lstCategory').val(0);
                        alert('EDIÇÃO DE SUB-CATEGORIA REALIZADO COM SUCESSO.');
                        fillSubCategory();
                    }
                });

            });

            $('#btnRegisterTransaction').on('click', function () {

                //Sub-Categoria
                var namSubCategory = $('#autoCompleteSubCategoryTransaction').val();

                if (namSubCategory === '') {
                    return;
                }                
                var idSubCategory = $("#subCategoriesTransaction option[value='" + namSubCategory + "']").text();

                //Categoria
                var namCategory = $('#autoCompleteCategoryTransaction').val();

                if (namCategory === '') {
                    return;
                }
                var idCategory = $("#categories option[value='" + namCategory + "']").text();

                //Transaction Type

                var idTransactionType = $('#lstTransactionType').val();

                if (idTransactionType === '') {
                    return;
                }


                //Dat Transaction

                var datTransaction = $('#dtTransaction').val();

                if (datTransaction === '') {
                    return;
                }

                //VlTransaction

                var valTransaction = parseFloat($('#vlTransaction').val());



                if (valTransaction === '') {
                    return;
                }


                //DsTransaction

                var dsTransaction = $('#txtTransaction').val();

                if (dsTransaction === '') {
                    return;
                }

                //User
                var namUser = $('#autoCompleteUser').val();

                if (namSubCategory === '') {
                    return;
                }

                var idUser = $("#users option[value='" + namUser + "']").text();

                //UserDestination
                var namUserDestination = $('#autoCompleteUserDestination').val();
                var idUserDestination;

                if (namUserDestination === '') {
                    idUserDestination = null;
                }
                else {
                    idUserDestination = $("#users option[value='" + namUserDestination + "']").text();
                }              

                //HasReceipt
                var hasReceipt = $("input[name='rdnHasReceipt']:checked").val() ? true: false;



                var data = {

                    "idTransactionType": idTransactionType,
                    "datTransaction": datTransaction,
                    "vlTransaction": val,
                    "dsTransaction": dsTransaction,
                    "idCategory": idCategory,
                    "idUser": idUser,
                    "idUserDestination": idUserDestination,
                    "hasReceipt": hasReceipt
                };

                $.ajax({
                    type: "POST",
                    url: url + "/api/transaction",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        //$('#txtSubCategory').val('');
                        //$('#lstCategory').val(0);
                        //fillSubCategory();
                        alert('TRANSAÇÃO REALIZADO COM SUCESSO.');

                    }
                });

            });

            $('#btnRegisterSubCategory').on('click', function () {

                var descricaoSubCategory = $('#txtSubCategory').val();
                var selectedCategory = $('#lstCategory').val();

                if (selectedCategory === 0) {
                    return;

                }

                var data = {

                    "DsSubCategory": descricaoSubCategory,
                    "IdCategory": selectedCategory
                };

                $.ajax({
                    type: "POST",
                    url: url + "/api/subcategory",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtSubCategory').val('');
                        $('#lstCategory').val(0);
                        fillSubCategory();
                        alert('CADASTRO DE SUB-CATEGORIA REALIZADO COM SUCESSO.');

                    }
                });

            });

            $('#btnRegisterCategory').on('click', function () {

                var descricaoCategoria = $('#txtCategory').val();

                var data = {

                    "DsCategory": descricaoCategoria
                }
                $.ajax({
                    type: "POST",
                    url: url + "/api/category",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtCategory').val('');
                        alert('CADASTRO DE CATEGORIA REALIZADO COM SUCESSO.');
                        fillCategory();
                    }
                });

            });

            $('#btnRegisterTypeTransaction').on('click', function () {

                var descricaoTipoTransacao = $('#txtTransactionType').val();

                var data = {

                    "DsTransactionType": descricaoTipoTransacao
                }

                $.ajax({
                    type: "POST",
                    url: url + "/api/transactiontype",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtTransactionType').val('');
                        alert('CADASTRO DE TIPO DE TRANSAÇÃO REALIZADO COM SUCESSO.');
                        fillTransactionsType()
                    }
                });

            });

            $('#btnRegisterUser').on('click', function () {

                var username = $('#txtUsername').val();
                var password = $('#txtPassword').val();
                var email = $('#txtEmail').val();
                var celphone = $('#txtCelphone').val();

                var data = {

                    "UserName": username,
                    "Password": password,
                    "Email": email,
                    "CelUser": celphone
                };

                $.ajax({
                    type: "POST",
                    url: url + "/api/user",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    cache: false,
                    success: function (data) {

                        $('#txtUsername').val('');
                        $('#txtPassword').val('');
                        $('#txtEmail').val('');
                        $('#txtCelphone').val('');

                        fillUsers();
                    }
                });

            });

        });
    </script>
}